Server/Apache24
Server/Bin/Crashes
Server/Bin64/Crashes
Server/Database
Server/Data
Server/Logs
Server/php5
Server/NodeJS
Server/SPP_Hub
Website/application/cache
Server/Apache24/logs
Backup
vendor
ADB_hotfixes_820.00.sql
ADB_world_820.00.sql
Saves
Server/Apache24/temp
Website/temp
composer.*
autosave.*
Server/Apache24/conf/httpd.conf
Server/Apache24/apache_start.bat
ADB_820.7z